//Media Queries mixins
@mixin bp($device) {
    @if $device == tablet {
      @media (min-width: $bp-tablet) {
        @content;
      }
    } @else {
      @error("There is no such breakpoint")
    }
}
//Flexbox settings mixins
@mixin flexbox($flex: flex, $grow: 1, $direction: column, $wrap: wrap, $justify: center ) {
  display: $flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  flex-grow: $grow;
  justify-content: $justify;

}

//Element BEM Selectors mixins
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}


//Modifiers BEM Selectors mixins
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}
