//Media Queries mixins
@mixin mq($break) {
    @if $break == "tablet" {
        @media (min-width: $bp-tb) {
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for #{$break}";
    }
}

///Flexbox settings mixins

@mixin flex ($display: flex, $dir: null, $wrap: null, $just: null){
    display: $display;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    @content;
}

//Element BEM Selectors mixins
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}


//Modifiers BEM Selectors mixins
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

//Grid color mixins

@mixin grid-background-color {
    @each $color in $grid-colors {
        $index: index($grid-colors, $color);

        &--#{$index}.theme__colors {
            background-color: $color;
        }
    }
}
