//Links placeholders
%links {
  text-decoration: none;
}
//Images placeholders
%images {
  margin: 0 auto;
  display: block;
}
//Headlines placeholders
%headlines {
  font-weight: bolder;
}
//Nav items placeholders
%nav-items {
  font-weight: lighter;
}

//Buttons placeholders
%button {
  color: white;
  padding: 0.5em;
  margin: 0.5em auto;
  width: 100%;
  border-radius: 10px;
}
