

// ===============Buttons======================//

%btn {
    width: 100%;
    padding: 0.75em 0;
    font-family: $font-primary;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    @include flex(flex, column) {
        align-items: center;
        margin-bottom: 20px;
    }
}

// ===============Grid======================//

%grid-styles {
    padding: 0.95em 0 0.95em 15px;
    font-family: $font-primary;
    border: none;
    border-radius: 5px;
    color: grey;
    font-weight: 700;
}
