//Links placeholders
%links {
  text-decoration: none;
}
//Images placeholders
%images {
  border: 1px solid white;
}
//Headlines placeholders
%headlines {
  font-weight: bolder;
}
//Nav items placeholders
%nav-items {
  font-weight: lighter;
}
