//Fonts variables
$font--primary   : "Helvetica Neuo", Helvetica, Arial, sans-serif;
$font--secondary : Garamond, serif;

//Breakpoints variables
$bp-tablet   :  769px;


//Colors variables
$color-primary    :lightblue;
$color-secondary  :blue;


//Grid variables

$col: 12;
