//Fonts variables
$font--primary   : "Helvetica Neuo", Helvetica, Arial, sans-serif;
$font--secondary : Garamond, serif;

//Breakpoints variables
$bp-tablet   : (min-width: 769px);
$bp-desktop  : (min-width: 1025px);

//Colors variables
$color-primary    :#fff;
$color-secondary  :#000;
