.form {
    @include e(label) {
        @include m(hidden) {
            visibility: hidden;
        }
    }

    @include e(input) {
        width: 85%;
        color: grey;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        margin: 0 20px;
        border: none;
        border-bottom: 6px solid $primary-color;
    }
}
