@for $i from 1 through $g-col-count {
    .grid__col--#{$i}.theme__colors{
        @extend %grid-styles;
        margin: 0px 5px 50px;


    }
}


//grid max-width
@include mq(tablet) {
    @for $i from 1 through $g-col-count {

    $context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
    $target: ($g-col-width * $i)  +  ($g-gutter-width * ($i - 1));

        .grid__col--#{$i}{
            width: $target / $context * 100%;
        }
    }
}


//flex for grids

.grid {
    @include mq(tablet) {
        @include e(row) {
            @include flex(flex, $just: space-between);
            .centered {
                display: block;
                margin: auto;
            }
        }
    }

    //background color for each grid__col in grid system
    &__col {
        @include grid-background-color;
    }
}

//button grid

.grid__col {
    @include mq(tablet) {
        @include m(12) {
            .theme__colors {
                margin: 1.875em 1em;
            }
            @include flex(flex);
        }
    }
}
