.img {

    @include m(logo) {
        margin: 0 auto;
        display: block;
        padding: 40px 0;
    }

    @include m(frame) {
        width: 100%;
        padding: 15px;
        border: solid 1px lightgrey;
    }

    @include m(avatar) {
        margin: 0 auto;
        display: block;
        padding: 25px 0;
    }
}
