.nav {
    @extend %centered;
    padding: 0 0 70px;
    margin: 0;
    @include mq(tablet) {
        @include flex(flex, row, $just: space-around);
        width: 60%;
        margin: 65px 0 0 200px;
    }

    @include e(item) {
        border-radius: 5px;
        padding: 12px 10px;

        a {
            @extend %text-dec-none;
            color: black;
        }

        &:hover  {
            background-color: $primary-color;
            a {
                color: white;
            }
        }
    }
}
