.nav__item {
  display: block;
  list-style: none;
  width: 100%;
  text-align: center;

  a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
  padding: 1em;
    &:visited{
      color:black;
    }
    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
}
